.parentcontainer{
    width: 100vw;
    background-color: rgb(169, 169, 207);
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.courseDisplaydiv{
    width: 80%;
    background-color: rgb(104, 194, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap:1rem;
}
.Filtercontainer{
    width: 80%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap:1rem;
}