@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=League+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
    overflow-x: hidden;
}






.Roboto {
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }